/* general */


$gray: #444;
* {
	box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #006642; // for footer
	color: $gray;
}

/* header */

header.header {
	background: #1c1c1c;
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: auto;
	h1 {
		margin: 0 1em;
		text-align: center;
		
	}

	position: sticky;
	top: 0;
}

/* nav */
nav.nav {

	padding: 0;
	ul.links {
		list-style: none;
		font-size: 0; // remove space between links

		li {
			display: inline-block;
			margin-left: -4px;
			padding-left: 0;
			font-size: 1rem;
			vertical-align: middle;
			margin-bottom: 0;
			height: 54px;
			a {
				color: white;
				text-decoration: none;
				padding: 15px;
				display: block;
				margin-bottom: 0;
				height: 100%;
				cursor: pointer;

				&:hover, &:focus {
					color: $gray;
					background: white;
					border-bottom: 5px solid #ffcb0f;
					transition: color 0.5s, background-color 0.5s;
				}

				img {
					vertical-align: middle;
					display: inline-block;
				}
			}
		}
	}
}

/* main */
main.page {
	background: white;
}