@import '../mixins-variables.scss';

footer.footer {
	color: white;
	text-align: center;
	@include hyperlinks;

	li {
		font-size: 1.1rem;
	}

	a {

		&:hover, &:focus {
			text-decoration: underline;
			vertical-align: middle;
		}
	}

	p {
		font-weight: bold;
	}
}